<h1><%=t(:questions_new) %></h1>
<% form_for(@faq) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "questions/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @faq, :f => f}) %>

<% end %>
