<div class="favori-title"><%=t(:favoris_project)%>
<%= link_to_remote( h_img(:remove_all).to_s, 
:url=> { :controller=>"projects", :action => :empty_favori }, :method=> :get)%>
</div>
<% if @favori.get("project") != nil %>
	<% if @favori.get("project").count >0 %>
	<table>
		<%= render(:partial => "main/favori_item", :collection => @favori.get("project")) %>
	</table>	
	<% end %>
<% end %>

