<div class="favori-title">
	<%= t(:favoris_link)%>
	<%= link_to_remote( h_img(:remove_all).to_s,
	:url=> { :controller=>"links", :action => :empty_favori }, :method=> :get)%>
</div>
<% if @favori.get("link") != nil %>
<% if @favori.get("link").count >0 %>
<table>
	<%= render(:partial => "main/favori_link_item", :collection => @favori.get("link")) %>
</table>
<% end %>
<% end %> 