<div class="favori-title"><%=t(:favoris_project)%>
<%= link_to_remote( h_img(:destroy).to_s, 
:url=> { :controller=>"projects", :action => :empty_favori_project })%>
</div>
<% if favori_project != nil %>
	<% if favori_project.items.count >0 %>
	<table>
		<%= render(:partial => "main/favori_project_item", :collection => favori_project.items) %>
	</table>	
	<% end %>
<% end %>

