<div class="favori-title"><%=t(:favoris_document)%>
<%= link_to_remote( h_img(:destroy).to_s, 
:url=> { :controller=>"documents", :action => :empty_favori }, :method=> :get)%>
</div>
<% if @favori.get("document") != nil %>
	<% if @favori.get("document").count >0 %>
		<table>
			<%= render(:partial => "main/favori_item", :collection => @favori.get("document")) %>
		</table>

	<% end %>
<% end %>


