<div class="favori-title"><%=t(:favoris_part)%>
<%= link_to_remote( h_img(:destroy).to_s, 
:url=> { :controller=>"parts", :action => :empty_favori })%>
</div>
<% if @favori.get("part") != nil %>
	<% if @favori.get("part").count >0 %>
	<table>
		<%= render(:partial => "main/favori_item", :collection => @favori.get("part")) %>
	</table>
	<% end %>
<% end %>


