<H1><%= t(:title_contacts)%></H1>
<dl>
  <dt>
    Sylvère Coutable
  </dt>
  <dd>
    Concepteur et développeur de ce site: <%= link_to t("CV") , "/CV_DEV_Sylvere_Coutable.doc" %>
  </dd>
  <dt>
    Rémy Coutable
  </dt>
  <dd>
    Conseiller technique et développeur, expert Ruby / Rails: <%= link_to 'Site', 'http://rymai.me' %>
  </dd>
  <dt>
    Envoyer un mail:<%= link_to t("new_contact"), new_contact_path %>
  </dt>
</dl>

