<div class="depot-form">
	<fieldset>
		<legend>
			<%= t(:legend_login) %>
		</legend>
		<% form_for :session, :url => {:controller=>:sessions , :action=>:create}  do |form| %>
		<label for="role"> <%= t(:label_role) %> </label>
		<%= form.collection_select(:role_id, @roles, :id, :title, :options => {}, :selected => @current_user.role_id) %>
		<br/>
	</fieldset>
	<table class='menu_bas'>
		<tr>
			<td> <%= submit_tag t(:submit_login) %> </td>
		</tr>
	</table>
	<% end %>
</div>
