<h1><%=t(:forum_new) %></h1>
<% form_for (@forum, :url => { :action=>"add_forum",:id=>@object.id } ) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "forums/edit",:locals => { :f => f, :fonct=>"add" }) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t(:add_forum) %>
        </td>
    </tr>
</table>
<% end %>