<h1>New forum</h1>
<% form_for(@forum) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @forum, :f => f}) %>
<%= render(:partial => "forums/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/submit_new", :locals => {:object => @forum, :f => f}) %>
<% end %>