<h1>New forum</h1>
<% form_for(@forum) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "forums/edit",:locals => { :f => f, :fonct=>"new" }) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("create") %>
        </td>
        <td>
            <%= link_to t("list"), forums_path %>
        </td>
    </tr>
</table>
<% end %>