*.log*
*.*~*
*.obsolete
*.sov
doc/**/*
log/*.log*
explo_syl/**/*
tmp/**/*
config/database.yml
route/**/*
.directory
.project
.tmp/**/*
# Mac OSX
.DS_Store
work*/**/*
/work/
/work_development/
/.metadata/
