[user]
  name  = YOUR NAME
  email = YOUR EMAIL


[core]
  repositoryformatversion = 0
  filemode                = true
  bare                    = false
  logallrefupdates        = true
  ignorecase              = true


[heroku]
  remote = production-cedar


[remote "origin"]
  url   = git@github.com:sylvani/sylrplm.git
  fetch = +refs/heads/*:refs/remotes/origin/*

[remote "production"]
  url   = git@heroku.com:sylrplm-cedar.git
  fetch = +refs/heads/master:refs/remotes/production/master
  push  = master:master

[remote "production-old"]
  url   = git@heroku.com:sylrplm.git
  fetch = +refs/heads/master:refs/remotes/production/master
  push  = master:master


[branch "master"]
  remote = origin
  merge  = refs/heads/master
