<h1><%= t(:part_edit) %></h1>
<% form_for(@part) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "parts/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<h1></h1>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @part, :f => f}) %>
<% end %> 