<h1>New relation</h1>
<% form_for(@relation) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "relations/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @relation, :f => f}) %>

<% end %> 