<h1><%= t("history_list") %></h1>
<% fonct=params["fonct"]["current"] unless params["fonct"].nil?
fonct="all" if fonct.nil? %>
<!--%= will_paginate(@entries) if fonct=='all' %-->
<%= render(:partial => "history/histories", :object => @entries, :locals => { :fonct => fonct, :obj => nil }  ) %>
<div class="align-right">
	<%= (@all ? '' : link_to('all', :controller => 'history')) if fonct=='all' %>
</div>
<!--%= will_paginate(@entries) if fonct=='all' %-->

