<h1><%=t(:datafile_list) %></h1>

<%= render(:partial => "datafiles/index_datafiles", :locals=>{:document=>nil}) %>

<br />
<%= will_paginate(@datafiles) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= link_to t("new_datafile"), new_datafile_path %>
        </td>
    </tr>
</table>