<h1><%= t(:datafile_new) %></h1>
<% form_for(@datafile , :html => { :multipart => true}) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "datafiles/edit_datafile",:locals => { :f => f , :fonct=>"new", :document=>@document}) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @datafile, :f => f}) %>
<% end %>