<h1><%=t(:statusobjects_edit)%></h1>
<% form_for(@statusobject) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "statusobjects/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @statusobject, :f => f}) %>

<% end %>