<h1>New statusobject</h1>
<% form_for(@statusobject) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "statusobjects/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @statusobject, :f => f}) %>

<% end %>
