<h1><%= t(:notification_edit) %></h1>
<% form_for(@notification) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "notifications/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @notification, :f => f}) %>

<% end %> 