<h1><%= t(:notification_new) %></h1>
<% form_for(@notification) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "notifications/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @notification, :f => f}) %>

<% end %> 