<h1><%= t(:notification_show) %></h1>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @notification, :fonct=>"show"}) %>
<%= render(:partial => "notifications/show") %> <h1></h1>
</table>
