<h1><%= t(:user_show) %></h1>
<%= render(:partial => "users/show",:locals => { :user => @the_user, :fonct => "show" }) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:edit), edit_user_path(@the_user) %> </td>
		<td> <%= link_to t(:list), users_path %> </td>
	</tr>
</table>
