<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("explorer"), object %> </td>
		<%= render(:partial => "shared/menu_show_edit", :locals => {:object => object, :fonct=>fonct}) %>
		<%= render(:partial => "shared/menu_common", :locals => {:object => object, :fonct=>fonct}) %>
	</tr>
</table>
