<% type_to_add=type_to_add.to_s %>
<% if plmobj.respond_to?("#{type_to_add}s") %>
<% unless @clipboard.get(type_to_add).count==0 || plmobj.relations(type_to_add).count==0 %>
<% @clipboard.get(type_to_add).each do |clipboard| %>
<% if clipboard != plmobj %>
<% plmobj.relations(type_to_add, nil, ::Relation::RELATION_PASTE_WAY_MANUAL).each do |relation| %>
<% if(clipboard.typesobject.name==relation.child_typesobject.name || relation.child_typesobject.name==PlmServices.get_property(:TYPE_GENERIC))%>
<%@nbrobjs+=1%>
<tr>
	<td><%= check_box_tag( "objecttoadd[#{clipboard.modelname}][#{clipboard.id}][#{relation.id}]")  %></td>
	<td><%= clipboard %></td>
	<td><%= text_field_tag("relation[#{type_to_add}][#{relation.id}]", relation.ident, :readonly => true) %>
	</td>
</tr>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>

