
<% files = plm_object.get_datafiles %>
<h1> <%= t("datafiles_list")+":"+files[:total].to_s %></h1>
<% if files[:total] > 0 %>

<%= render(:partial => "datafiles/index_datafiles",
	:locals=>{:datafiles=>files, :document=>document, :part=>part, :project=>project, :customer=>customer }) %>
<% end %>
<% frozen=plm_object.frozen if plm_object.respond_to? :frozen %>
<% directory=plm_object.directory if plm_object.respond_to? :directory %>
<% unless frozen || directory %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("add_datafile"), :action => :new_datafile, :id => plm_object.id %> </td>
	</tr>
</table>
<% end %>
