<h1><%= t("customer_edit") %></h1>
<% fonct="edit" %>
<% form_for(@customer, :html => { :id => h_form_html_id(@customer, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "customers/edit",:locals => { :f => f, :fonct=>fonct }) %>
<h1></h1>
<%= render(:partial => "shared/menu_edit", :locals => {:object => @customer, :f => f}) %>
<% end %>