<h1><%=t(:volume_edit) %></h1>
<% form_for(@volume) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "volumes/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @volume, :f => f}) %> 

<% end %>
