<h1><%= t(:volume_new) %></h1>
<% form_for(@volume) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "volumes/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @volume, :f => f}) %>

<% end %>
