<h1><%= t("definitions_list") %></h1>
<% form_tag({:controller=>:definitions, :action=>:index_execute}) do %>
<%= h_menu_index_action("definition")%>
<%= render(:partial => "definitions/index",:locals => { :fonct=>"index" }) %>
<%= h_menu_index_action("definition")%>
<%end%>

