<h1><%= t("definitions_list") %></h1>

<%= render(:partial => "definitions/index",:locals => { :fonct=>"new_process" }) %>

<div id="help">
	<p>
		[Business] process definitions. Edit them (or their initial payload) or launch them.
	</p>
</div>
