<p>
    <%= f.label t("label_controller") %><br />
    <%=f.collection_select(:controller, @controllers, :name_method, :name_method) %>
  </p>
  
  <p>
    <%= f.label t("label_role") %><br />
    <%= f.text_field :roles %>
  </p>