<h1><%= t("access_edit")%></h1>
<% form_for(@access) do |f| %>
<%= f.error_messages %>
<%= render "accesses/edit", :f => f, :fonct => "edit" %>
<%= render(:partial => "shared/menu_edit", :locals => {:object => @access, :f => f}) %>
<% end %>