<h1><%= t(:access_new) %></h1>
<% form_for(@access) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "accesses/edit",:locals => { :f => f, :fonct => "new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @access, :f => f}) %>
<% end %> 