<h1><%= t(:lifecycle_edit, :model => t(@document.model_name), :obj => @document.to_s) %></h1>
<% fonct="edit_lifecycle" %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @document, :fonct=>fonct, :fonct=>fonct}) %>
<% form_for(@document, :url => {:controller=>"documents", :action=>"update_lifecycle", :id => @document.id}, :method=>:get, :html => { :id => h_form_html_id(@document, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "documents/edit_lifecycle",:locals => { :f => f, :fonct=>fonct }) %>
<% end %>