<h1><%=t(:project_new) %></h1>
<% form_for(@project) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "projects/edit",:locals => { :f => f, :fonct=>"new" }) %>
<h1></h1>
<%= render(:partial => "shared/menu_new", :locals => {:object => @project, :f => f}) %>

<% end %>