<h1>New link</h1><% fonct="new"
form_id=fonct+"_link" %>
<% form_for(@link, :html => { :id => form_id }) do |f| %>
<%= f.error_messages %>
<%= render(
:partial => "links/edit",
:locals => {
:form => f,
:fonct => fonct,
:form_id => form_id }
) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @link, :f => f}) %>

<% end %>