<h1><%=t(:role_edit) %></h1>
<% form_for(@role) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "roles/edit",:locals => { :f => f, :fonct=>"edit" }) %>

<%= render(:partial => "shared/menu_edit",:locals => { :object => @role, :f => f}) %>

<% end %>
