<h1><%= t("check_new")%></h1>
<% form_for(@check) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "checks/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @check, :f => f}) %>

<% end %> 