/* Global styles */
/* Styles for main page */
* {
	margin: 0;
	padding: 0;
}
body {t
	font-family: "proxima-nova-1", "proxima-nova-2", Helvetica, Arial, sans-serif;
	background: #000;
	/*color: #ccc;*/
	font-size: 12px;
	/*text-rendering: optimizeLegibility; non trouve*/
	/*max-width: 1600px;*/
	position: relative;
	margin: 5px;
	-webkit-text-size-adjust: auto;
}
span, p, li, ul , legend {
	text-decoration: none;
	margin-left: 0px;
	padding-left: 0px;
	color: white;
}
ul {
	margin-left: 5px;
	padding-left: 0px;
	text-indent: 0px;
}
li {
	margin-left: 0px;
	padding-left: 0px;
	text-indent: 0px;
}

h1 {
	font: bold 120% sans-serif;
	color: white;
	border-bottom: 1px solid #666;
	margin-bottom: 15px;
}
h2 {
	font: bold 100% sans-serif;
	color: white;
}
input, option, select, textarea {
	padding: 1pt;
	margin: 1pt;
	background-color: #DDDDDD;
	/*border-bottom: thin solid #333333;
	border-left: thin solid #333333;
	border-right: none;
	border-top: none;*/
}
input:active, option:active, select:active, textarea:active {
	outline: solid medium #CCCCFF;
}
input:focus, option:focus, select:focus, textarea:focus {
	outline: solid medium #CCFFCC;
}

/* formulaire de saisie: new et edit principalement */
br {
	clear: left;
}
label {
	/*font-weight: bold;*/
	color: #FFFFFF;
	text-align: right;
	display: block;
	float: left;
	width: 180px;
	margin-right: 5px;
	margin-top: 5px;
}
input, option, select, textarea {
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
input[type=submit] {
	background-color: #333333;
}

table {
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-spacing: 0;
	border-collapse: collapse;
	color: white;
}
tr {
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: white;
}
th {
	font-weight: bold;
	padding: 2px;
	margin: 0;
	background-color: #333;
	border: 1px solid #DDD;
	color: #FFF;
}
td {
	padding: 2px;
	margin: 0;
	background-color: #444;
	border: 1px solid #CCC;
	color: #DDD;
}

/*header*/
#container {
	background: black;
}
#banner {
	background: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
	text-align: center;
	height: 10%;
	margin: 0px;
}
#banner table {
	margin-left: auto;
	margin-right: auto;
}
.title {
	font-variant: small-caps;
	font-size: 25px;
	color: white;
}
.banner {
	font-size: 14px;
	color: white;
}
/*end header*/

/* boites */
#columns {
}

#side {
	float: left;
	padding-top: 0px;
	width: 180px;
}

#side fieldset {
	padding: 5px;
	margin-top: 8px;
}

#main {
	padding-top: 8px;
	padding-left: 8px;
	margin: 0 0 0 180px;
	background: #333;
}
/* fin des boites */

div.favori-title {
	color: white;
}
/* input file*/
#datafile_uploaded_file {
	max-width: 100px;
}
.translation_missing {
	background-color: #00f0f0;
}
ul.help {
	margin-top: 6px;
}
li.help {
	margin-top: 3px;
}
ul.help_key {
	list-style: decimal-leading-zero;
	margin-top: 3px;
	margin-left: 5px;
	padding-left: 0px;
	text-indent: 0px;
}
li.help_key ul.help_key {
	margin-left: 20px;
}
li.help_key {
	list-style: decimal-leading-zero;
	margin-top: 2px;
}
ul.help_ul {
	margin-top: 4px;
}
li.help_ul {
	margin-top: 3px;
}
img.icone {
	border: none;
	background: transparent;
	width: 16px;
	height: 16px;
}
.help {
	font-weight: bold;
	cursor: help;
	color: white;
}
img.help {
	width: 16px;
	height: 16px;
}
img.help_tr {
	width: auto;
	height: auto;
	background: #242424;
	border: 2px solid white;
}
/* Styles for the favori in the sidebar */

li.favori {
	font-size: 12px;
	color: white;
}
td.favori {
	font-size: 12px;
	color: white;
}
#favori table {
	border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-bottom: 10px;
}
/* END:favori */
p.notice {
	font-size: 14px;
	border: 1px solid #666;
	color: white;
	background-color: #888;
	margin-bottom: 15px;
}
/* menus en bas des listes*/
table.menu_bas {
	margin-top: 5px;
	margin-bottom: 5px;
}
table.menu_bas .menu_bas tr {
	border: 0px;
}
.menu_bas td {
	background-color: #333333;
	border: 2px solid;
	padding-left: 2px;
	padding-right: 2px;
}
a, td a, th a, a.help_tr, .help a, .menu_bas a, a.menu, a.menu_bas, .menu_bas input, input.menu_bas {
	border: 0px;
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-weight: bold;
}
/* end menus en bas des listes*/

/* a:hover, input:hover, img.help_tr:hover {*/
a:hover, .help a:hover, a.help_tr:hover, a.menu:hover, a:hover, input:hover,  select:hover, img.help_tr:hover {
	background-color:#AAAAAA;
	color: #222222;
	cursor: pointer;
}
.pagination {
	margin: 5px 0;
}