.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: white;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
	background-color: #AAAAAA;
}
.dtree a {
	color: white;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 0px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	Xcolor: white;
	text-decoration: underline;
}

a:visited,a:active {
	border:none;
	text-decoration: none;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
.node{

 cursor: pointer;
 _cursor: hand;
}