<h1><%= t(:typesobjects_edit) %></h1>
<% fonct="edit"
  form_id=fonct+"_typesobject" %>
<% form_for(@typesobject, :html => { :id => form_id }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "typesobjects/edit",:locals => {
:form => f,
:fonct => fonct,
:form_id => form_id })
%>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @typesobject, :f => f}) %>
<% end %> 