<% favs = @favori.get(type)%>
<div class="favori-title">
  <%= t(:"favoris_#{type}") %>
  <%= link_to_remote(h_img(:remove_all).to_s, url: { controller: type.pluralize, action: 'empty_favori' }, method: :get) %>
</div>
<% if favs.present? %>
  <table>
  	<%= render :partial => 'layouts/favorite_item', collection: favs %>
  </table>
<% end %>
