<h1><%=t(:sequence_edit) %></h1>
<% form_for(@sequence) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "sequences/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @sequence, :f => f}) %>

<% end %>
