<h1><%=t(:sequence_new) %></h1>
<% form_for(@sequence) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "sequences/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @sequence, :f => f}) %>

<% end %>